.container{
  width: 300px;
  margin-inline: auto;
  margin-top: 50px;
}

.container button{
  margin-top: 20px;
}

.input-container{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 14px;
}

.input-container input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}


